.publications {
    align-items: center;
    padding: 20px;
}

.publications h1 {
    text-align: center;
    color: #b06820;
}

.publications li p {
    margin: 10px 0;
    line-height: 1.4;
}

.publications li {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.publications li img {
    width: 250px;
    height: auto;
    margin-right: 20px;
}

.publications li strong {
    font-weight: bold;
}

.publications li em {
    font-style: italic;
}